<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8 ; ">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >

    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin</title>

    <script src="{{ asset('upload/plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{{ asset('upload/plugins/bootstrap/js/popper.min.js') }}"></script>
    <script src="{{ asset('upload/plugins/bootstrap/js/tether.min.js') }}"></script>
    <script src="{{ asset('upload/plugins/bootstrap/js/bootstrap.min.js') }}"></script>



    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('upload/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('upload/css/basic.css') }}" rel="stylesheet">
    <link href="{{ asset('upload/plugins/bootstrap-fileinput-master/css/fileinput.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('upload/plugins/bootstrap-fileinput-master/themes/explorer/theme.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('upload/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css') }}" rel="stylesheet">

    <!--alerts CSS
    <link href="{{ asset('upload/plugins/sweetalert/sweetalert.css') }}" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{{ asset('upload/css/style.css') }}" rel="stylesheet">

    <!-- You can change the theme colors from here -->
    <link href="{{ asset('upload/css/colors/blue.css') }}" id="theme" rel="stylesheet">

</head>


<body class="fix-header fix-sidebar card-no-border">
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
</div>

<div id="main-wrapper">

<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">

        <div class="navbar-header">
            <a class="navbar-brand" href="/dashboard/">
                <b>
                    <img src="{{ asset('upload/img/wemanity-logo.png') }}" alt="Home" />
                </b>
            </a>
        </div>


        <div class="navbar-collapse">


            <ul class="navbar-nav my-lg-0">


            </ul>
        </div>
    </nav>
</header>

<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <div class="user-profile" style="background: url({{ asset('upload/img/background.png') }}) no-repeat;">
            <!-- User profile image -->
            <div class="profile-img">
                <img src="{{ asset('upload/img/casa-logo.jpg') }}" alt="user" />
            </div>

            <!-- User profile text-->
            <div class="profile-text"> <a  style="text-transform:capitalize">{{ app.user.username }}</a>

            </div>
        </div>
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-small-cap">Menu</li>
                <li>
                    <a class="waves-effect waves-dark" href="/" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>

                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-comment-account-outline"></i><span class="hide-menu">Candidat</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/add-candidat">Ajouter un candida</a></li>
                        <li><a href="/list-candidat/">Liste des candidats</a></li>

                    </ul>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/calendrier" aria-expanded="false"><i class="mdi mdi-calendar"></i><span class="hide-menu">Calendrier </span></a>

                </li>


            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>

    <div class="sidebar-footer">

        <a href="/logout" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
    </div>
    <!-- End Bottom points-->
</aside>

<div class="page-wrapper">
    {% block body  %}{% endblock %}
    <footer class="footer">

    </footer>

</div>
</div>
<!--Custom JavaScript -->
<script src="{{ asset('upload/js/custom.js') }}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{{ asset('upload/js/jquery.slimscroll.js') }}"></script>
<script src="{{ asset('upload/js/sidebarmenu.js') }}"></script>
<!--stickey kit -->
<script src="{{ asset('upload/plugins/sticky-kit-master/dist/sticky-kit.min.js') }}"></script>
{% block script %}{% endblock %}

</body>

</html>