{% extends 'KTMetierBundle::base.html.twig' %}
{% block body %}
    <div class="container-fluid">

        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Candidat
                </h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Ajouter un candidat</li>
                </ol>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Candidat</h4>
                        <h6 class="card-subtitle"> Création d'un nouveau candidat </h6>

                        {{ form_start(form, {'attr': {'class': 'form'}}) }}



                        <div class="">
                            <div class="col-md-12  text-center" >
                               <div class="form-group m-t-40 row" >

                                    {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'col-3 col-form-label'}}) }}
                                    <div class="col-9">
                                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group m-t-40 row"  >

                                    {{ form_label(form.prenom, "Prenom", {'label_attr': {'class': 'col-3 col-form-label'}}) }}
                                    <div class="col-9">
                                        {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>

                                <div class="form-group m-t-40 row" >

                                    {{ form_label(form.email, "Email", {'label_attr': {'class': 'col-3 col-form-label'}}) }}
                                    <div class="col-9">
                                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>

                                <div class="form-group m-t-40 row" >

                                    {{ form_label(form.profil, "Profil", {'label_attr': {'class': 'col-3 col-form-label'}}) }}
                                    <div class="col-9">
                                        {{ form_widget(form.profil, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group m-t-40 row" >
                                    {{ form_label(form.cv, "CV(PDF)", {'label_attr': {'class': 'col-3 col-form-label'}}) }}
                                    <div class="col-9">
                                        {{ form_widget(form.cv, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    {{ form_errors(form.cv) }}

                                </div>

                            </div>
                        </div>
                       <center> {{ form_widget(form.save, {'attr': {'class': 'btn btn-success btn-md'}}) }}</center>

                        {{ form_end(form) }}


                        {% for message in app.session.flashbag.get('notice') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}