{% extends 'KTMetierBundle::base.html.twig' %}
{% block body %}
    <!-- fulccalendar css-->
    <link href="{{ asset('upload/fullcalendar/dist/fullcalendar.min.css') }}" rel="stylesheet">
    <style>

        .fc-event {
            border: 1px solid #3a87ad; /* default BORDER color */
            color: #fff;               /* default TEXT color */
            font-size: 0.5em;            /* EDIT HERE */
            cursor: default;
        }
    </style>
    <style>

    </style>


    <div class="container-fluid">

        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Calendrier des entretiens
                </h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard/">Dashboard</a></li>
                    <li class="breadcrumb-item active">Calendrier des entretiens
                    </li>
                </ol>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
{% block script %}


    <!-- FullCalendar -->
    <script src="{{ asset('upload/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('upload/fullcalendar/dist/fullcalendar.min.js') }}"></script>
    <script type="text/javascript">


        function  init_calendar() {

            var events =[];
            var statut = "";
            var currentDate = new Date();
            var type="";
            var calendrier = {{  calendrier|json_encode|raw }};
            //---------on parse notre objet
            calendrier = JSON.parse(calendrier);

            for(var i=0;i< calendrier.length;i++){
                if(calendrier[i]['entretien'].type=="premier"){
                    type="Première rencontre";
                }else{
                    type="Deuxiéme rencontre avec DRH ";
                }

                if(currentDate > new Date(calendrier[i]['entretien'].date.timestamp*1000)){
                    statut = "Expiré";
                }else{
                    statut = "En cours";
                }
                events.push({"title":type+"\n Statut :" +statut+"\n Resp :"+calendrier[i]['entretien'].responsable+"\n Candidat : "+calendrier[i]['candidat'].nom+' '+calendrier[i]['candidat'].prenom,"start": new Date(calendrier[i]["entretien"].date.timestamp*1000),"end":new Date(calendrier[i]["entretien"].date.timestamp*1000),color:"#0286A5","url":"/upload/fichiers/"+calendrier[i]["candidat"].cv});


            }

            if( typeof ($.fn.fullCalendar) === 'undefined'){ return; }
            console.log('init_calendar');

            var date = new Date(),
                    d = date.getDate(),
                    m = date.getMonth(),
                    y = date.getFullYear(),
                    started,
                    categoryClass;

            var calendar = $('#calendar').fullCalendar({
                lang: 'fr',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listMonth'
                },
                selectable: true,
                selectHelper: true,
                closeText: "Fermer",
                prevText: "Précédent",
                nextText: "Suivant",
                currentText: "Aujourd'hui",
                monthNames: ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"],
                monthNamesShort: ["janv.", "févr.", "mars", "avr.", "mai", "juin", "juil.", "août", "sept.", "oct.", "nov.", "déc."],
                dayNames: ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
                dayNamesShort: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
                dayNamesMin: ["D", "L", "M", "M", "J", "V", "S"],
                weekHeader: "Sem.",
                dateFormat: "dd/mm/yy",
                timeFormat: "H:mm",
                slotLabelFormat:"H:mm",
                firstDay: 1,
                isRTL: !1,
                showMonthAfterYear: !1,
                yearSuffix: "",
                buttonText: {
                    month: "Mois",
                    week: "Semaine",
                    day: "Jour",
                    list: "Mon planning"
                },
                allDayHtml: "Toute la journée",

                select: function(start, end, allDay) {
                    $('#fc_create').click();

                    started = start;
                    ended = end;

                    $(".antosubmit").on("click", function() {
                        var title = $("#title").val();
                        if (end) {
                            ended = end;
                        }

                        categoryClass = $("#event_type").val();

                        if (title) {
                            calendar.fullCalendar('renderEvent', {
                                        title: title,
                                        start: started,
                                        end: end,
                                        allDay: allDay
                                    },
                                    true // make the event "stick"
                            );
                        }

                        $('#title').val('');

                        calendar.fullCalendar('unselect');

                        $('.antoclose').click();

                        return false;
                    });
                },
                eventClick: function(calEvent, jsEvent, view) {
                    $('#fc_edit').click();
                    $('#title2').val(calEvent.title);

                    categoryClass = $("#event_type").val();

                    $(".antosubmit2").on("click", function() {
                        calEvent.title = $("#title2").val();

                        calendar.fullCalendar('updateEvent', calEvent);
                        $('.antoclose2').click();
                    });

                    calendar.fullCalendar('unselect');
                },
                eventClick: function(event) {
                    if (event.url) {
                        window.open(event.url);
                        return false;
                    }
                },
                editable: false,
                events


            });

        };



        init_calendar();

    </script>

{% endblock %}