{% extends 'KTMetierBundle::base.html.twig' %}
{% block body %}

    <link href="{{ asset('upload/css/bootstrap-material-datetimepicker.css') }}" rel="stylesheet">
    <!-- PNotify -->
    <link href="{{ asset('upload/css/pnotify/dist/pnotify.css') }}" rel="stylesheet">
    <link href="{{ asset('upload/css/pnotify/dist/pnotify.buttons.css') }}" rel="stylesheet">
    <link href="{{ asset('upload/css/pnotify/dist/pnotify.nonblock.css') }}" rel="stylesheet">

    <div class="container-fluid">

        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Liste des candidats
                </h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard/">Home</a></li>
                    <li class="breadcrumb-item active">Liste des candidats
                    </li>
                </ol>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Liste des candidats  </h4>
                        <div class="table-responsive m-t-20">
                            <table class="table stylish-table">
                                <thead>
                                <tr>
                                    <th>Logo</th>
                                    <th>Nom</th>
                                    <th>Email</th>
                                    <th>Etat</td>
                                    <th>CV</th>
                                    <th>Profil</td>
                                    <th>entretien</td>
                                    <th>Tests (Kata)</td>

                                </tr>
                                </thead>
                                <tbody>

                                {% for i in candidat %}

                                    <tr class="active">
                                        <td>
                                         <span class="round round-{{ random(['success', 'warning', 'danger','info']) }} }}">{{ i.nom|capitalize|slice(0,1) }}</span>

                                        </td>
                                        <td>
                                            <h6 style="text-transform: capitalize">{{i.nom  }} {{ i.prenom }}</h6>
                                            <small class="text-muted">{{ i.profil }}</small>
                                        </td>
                                        <td><h6 style="text-transform: capitalize">{{ i.email }}</h6></td>
                                        <td>
                                            <h6 style="color:darkred">{% if i.admis ==0 %}En cours{% elseif i.admis == 1 %}Admis{% else  %}Non Admis{% endif %}</h6>
                                        </td>
                                        <td>
                                            <a href="/upload/fichiers/{{ i.cv }}" target="_blank"><img src="{{ asset('upload/img/cv.png') }}"></a>
                                        </td>
                                        <td><a href="/profil/?idCandidat={{ i.id }}" style="color:#FFFFFF" class="btn btn-success">Voir</a></td>

                                        <td><a style="color:#FFFFFF" onclick="preparerEntretien({{ i.id }})"   class="btn btn-info"> Préparer</a></td>
                                        <td><a style="color:#FFFFFF" onclick="envoyerMail({{ i.id }},'{{ i.email }}')" class="btn btn-danger">envoyer</a></td>

                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Column -->
        </div>
        <!-- modal pour preparation entretien -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Préparation entretien</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        {{ form_start(form, {'attr' : {'class': 'myForm'}}) }}
                            <div class="form-group">

                                {{ form_label(form.type, "Type entretien", {'label_attr': {'class': 'col-form-label'}}) }}
                                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}

                            </div>

                            <div class="form-group">

                                {{ form_label(form.responsable, "Nom du résponsable", {'label_attr': {'class': 'col-form-label'}}) }}
                                {{ form_widget(form.responsable, {'attr': {'class': 'form-control'}}) }}

                            </div>
                            <div class="form-group">

                                {{ form_label(form.date, "Date de l'entretien", {'label_attr': {'class': 'col-form-label'}}) }}
                                {{ form_widget(form.date) }}

                            </div>
                            <div class="form-group">

                                {{ form_label(form.note, "Note", {'label_attr': {'class': 'col-form-label'}}) }}
                                {{ form_widget(form.note, {'attr': {'class': 'form-control'}}) }}

                            </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" id="envoyer" class="btn btn-primary">Enregistrer</button>

                    </div>

                    {{ form_end(form) }}

                </div>

            </div>

        </div>
        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Envoyer tests</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form  id="myFormMail">
                    <div class="modal-body">

                        <div class="form-group">

                            <label class="col-form-control">Sujet</label>
                            <input type="text" name="sujet"  class="form-control">
                        </div>

                        <div class="form-group">

                            <label class="col-form-control">Text</label>
                            <textarea id="ckeditor" name="text"  class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit"  class="btn btn-primary">Envoyer</button>
                        <center><div id="ajaxloader"></div></center>
                    </div>

                    </form>

                </div>
            </div>
        </div>

    </div>
    <script>


    </script>
{% endblock %}

{% block script %}
    <!-- jQuery -->
    <script type="text/javascript" src="{{ asset('upload/js/moment/moment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('upload/js/bootstrap-material-datetimepicker.js') }}"> </script>
    <!-- PNotify -->
    <script src="{{ asset("upload/css/pnotify/dist/pnotify.js") }}"></script>
    <script src="{{ asset("upload/css/pnotify/dist/pnotify.buttons.js") }}"></script>
    <script src="{{ asset("upload/css/pnotify/dist/pnotify.nonblock.js") }}"></script>
    <!-- editor plugin -->
    <script src="{{ asset('upload/js/ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript">


        //------------editeur
        CKEDITOR.replace('ckeditor');
        CKEDITOR.config.height = 250;
        //---------------Datetime picker
        $( function() {

            $('.datetimePick').bootstrapMaterialDatePicker({
                date: true,
                shortTime: true,
                format: 'D-MM-YYYY HH:mm',

                lang:'fr'

            });


        } );



        //--------traitement ajax pour plannifier un entretien
        function preparerEntretien(id){

            $('#exampleModal').modal('show');

            $(".myForm").submit(function(event){
                //----pour annuler le submit par defaut
                event.preventDefault();

                $.ajax({
                    type: "POST",
                    url: "/list-candidat/?idCandidat="+id,
                    data: $(this).serialize(),
                    dataType: 'json',
                    success : function(data) {
                        if (data.response == "OK") {
                            //--------notification
                            new PNotify({

                                text: "Entretien plannifié avec succés!",
                                type: 'success',
                                styling: 'bootstrap3'

                            });
                            //------rechargement de la page apres 4 sec
                            setTimeout(function(){ window.location.reload(true); } , 4000);



                        }else{
                            //------rechargement de la page apres 4 sec
                            new PNotify({

                                text: "Une erreur  s'est produite!",
                                type: 'error',
                                styling: 'bootstrap3'

                            });
                            setTimeout(function(){ window.location.reload(true); } , 4000);
                        }

                    },
                    error: function() {

                        new PNotify({

                            text: "Une erreur  s'est produite!",
                            type: 'error',
                            styling: 'bootstrap3'

                        });
                    }

                });

                return false;
            });

        }



        //-------envoyer les test
        function envoyerMail(id,email){

            $('#exampleModal1').modal('show');

            $("#myFormMail").submit(function(event){

                //-------loader gif
                $('#ajaxloader').append('<img src="/upload/img/ajax-loader.gif" >');

                //----pour annuler le submit par defaut
                event.preventDefault();

                $.ajax({
                    type: "POST",
                    url: "/envoyer-tests/?idCandidat="+id+'&email='+email,
                    data: $(this).serialize(),
                    dataType: 'json',
                    success : function(data) {
                        //-----cacher img loader
                        $('#ajaxloader').html("");
                        if (data.response == "OK") {

                            //--------notification
                            new PNotify({

                                text: "tests envoyés avec succé !",
                                type: 'success',
                                styling: 'bootstrap3'

                            });
                            //------rechargement de la page apres 4 sec
                            setTimeout(function(){ window.location.reload(true); } , 4000);



                        }else{

                            new PNotify({

                                text: "Une erreur  s'est produite!",
                                type: 'error',
                                styling: 'bootstrap3'

                            });
                            //------rechargement de la page apres 4 sec
                            setTimeout(function(){ window.location.reload(true); } , 4000);
                        }

                    },
                    error: function() {
                        $('#ajaxloader').html("");
                        new PNotify({

                            text: "Une erreur  s'est produite!",
                            type: 'error',
                            styling: 'bootstrap3'

                        });
                    }

                });

                return false;
            });
        }

    </script>

{% endblock %}