{% extends 'KTMetierBundle::base.html.twig' %}
{% block body %}
    <!-- css pour le time line -->
    <link href="{{ asset('upload/css/timeLine.css') }}"  rel="stylesheet">

    <div class="container-fluid">

        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Candidature</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/list-candidat/">liste candidats</a></li>
                    <li class="breadcrumb-item active">profil</li>
                </ol>
            </div>
        </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Information candidat  </h4>
                     <section class="section-spacing " id="features">
                        <div class="container">

                            <div class="container-fluid">
                                <br><br>
                                <div class="">

                                    <p>
                                        <span style="color:black;font-weight: bold;">Nom :</span> <span>{{ candidat.prenom }} {{ candidat.nom }}</span>
                                    </p>
                                    <p>
                                        <span style="color:black;font-weight: bold;">Email :</span> <span>{{ candidat.email }}</span>
                                    </p>
                                    <p>
                                        <span style="color:black;font-weight: bold;">Profil :</span> <span>{{ candidat.profil }}</span>
                                    </p>


                                </div>
                            </div>
                        </div>
                     </section>
                </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Etude de dossier  </h4>
                        <section class="section-spacing text-center" id="features">
                            <div class="container">

                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="timeline">
                                                <li class="timeline-inverted wow bounceInUp">

                                                    {% if candidat.first == 1 %}
                                                    <div  style="background-color: #00FF00 !important;" class="timeline-badge"><i class="fa fa-check"></i></div>
                                                    {% else %}
                                                     <div class="timeline-badge danger"><i class="fa fa-times"></i></div>
                                                    {% endif %}


                                                    <div class="date-info">
                                                        {% if firstEntretien.date is defined %}
                                                        <span class="day">{{ firstEntretien.date|date('d') }}</span><span class="month">{{ firstEntretien.date|date('M') }}</span><span class="year"> {{ firstEntretien.date|date('Y') }}</span>

                                                        {% endif %}
                                                    </div>
                                                    <div class="timeline-panel">
                                                        <div class="timeline-heading">
                                                            <h6 class="timeline-title" style="font-weight: bold;">Premiére rencontre</h6>
                                                        </div>
                                                        <div class="timeline-body">
                                                            <p>
                                                            {% if firstEntretien.note is defined %}
                                                                {{ firstEntretien.note|raw }}
                                                             {% else %}
                                                                Aucune rencontre
                                                            {% endif %}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <br><br>
                                                <li class="timeline-inverted wow bounceInUp">

                                                    {% if candidat.tests == 1 %}
                                                        <div  style="background-color: #00FF00 !important;" class="timeline-badge"><i class="fa fa-check"></i></div>
                                                    {% else %}
                                                        <div class="timeline-badge danger"><i class="fa fa-times"></i></div>
                                                    {% endif %}

                                                    <div class="date-info">
                                                        {% if tests.date is defined %}
                                                            <span class="day">{{ tests.date|date('d') }}</span><span class="month">{{ tests.date|date('M') }}</span><span class="year"> {{ tests.date|date('y') }}</span>

                                                        {% endif %}
                                                    </div>
                                                    <div class="timeline-panel">
                                                        <div class="timeline-heading">
                                                            <h6 class="timeline-title"  style="font-weight: bold;">Tests Kata</h6>
                                                        </div>
                                                        <div class="timeline-body">
                                                            <p>
                                                                {% if tests.text is defined %}
                                                                    {{ tests.text|raw }}
                                                                {% else %}
                                                                    les tests n'ont pas été envoyé
                                                                {% endif %}

                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <br><br>
                                                <li class="timeline-inverted wow bounceInUp">
                                                    {% if candidat.seconde == 1 %}
                                                        <div  style="background-color: #00FF00 !important;" class="timeline-badge"><i class="fa fa-check"></i></div>
                                                    {% else %}
                                                        <div class="timeline-badge danger"><i class="fa fa-times"></i></div>
                                                    {% endif %}
                                                    <div class="date-info">
                                                        {% if secondeEntretien.date is defined %}
                                                            <span class="day">{{ secondeEntretien.date|date('d') }}</span><span class="month">{{ secondeEntretien.date|date('M') }}</span><span class="year"> {{ secondeEntretien.date|date('y') }}</span>

                                                        {% endif %}
                                                    </div>
                                                    <div class="timeline-panel">
                                                        <div class="timeline-heading">
                                                            <h6 class="timeline-title" style="font-weight: bold;">Entretien avec DRH</h6>
                                                        </div>
                                                        <div class="timeline-body">
                                                            <p>
                                                                {% if secondeEntretien.note is defined %}
                                                                    {{ secondeEntretien.note|raw }}
                                                                {% else %}
                                                                    Aucune rencontre
                                                                {% endif %}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <br><br>
                                            <div class="btn-group">
                                                <select class="form-control" name="priceDecision">
                                                        <option value="Admis" >Admis</option>
                                                        <option value="Non-admis" >Non-admis</option>
                                                </select>
                                            </div>
                                            <div class="btn-group">
                                                <input type="submit" class="btn btn-success">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}