<!DOCTYPE html>
<html>
<head>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recrutement processes</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('upload/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('upload/css/style.css') }}" rel="stylesheet">


</head>
</head>
<body>

<section id="wrapper" class="login-register login-sidebar"  style="background-image:url({{ asset('upload/img/backImage.jpg') }});">
    <div class="login-box card">
        <div class="card-body">

            <form method="POST"  action="{{ path("fos_user_security_check") }}" class="login-form form-horizontal form-material" data-parsley-validate="" id="loginform">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <br><br>
                <a class="text-center db"><img src="{{ asset('upload/img/wemanity-logo.png') }}" alt="Home" /></a>
                <br>
                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input class="form-control" placeholder="Nom utilisateur" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username"  >
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="password" id="password" name="_password" required="required" autocomplete="current-password" placeholder="Mot de passe" class=" form-control" >
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">Se souvenir de moi</label>
                    </div>
                </div>

                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">

                        <input class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" id="_submit" name="_submit" value="S'identifier" />

                    </div>
                </div>

            </form>

            <!-- gestion erreurs -->
            {% if error %}
                <div class ="alert alert-danger"  >{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

        </div>
    </div>
</section>


<div>

</div>
</body>
</html>